<%- include('partials/header') %>

<div class="container">
    <h1>Welcome Page</h1>

    <h2>Welcome to GT Food Truck</h2>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-primary">Register</a>
</div>

<%- include('partials/footer') %>